.aboutContainer {
    scroll-snap-type: y mandatory;
    scroll-padding-top: 5vh;
    z-index: 4;
    overflow: scroll;
    height: 100vh;
}

.about {
    scroll-snap-align: start;
}

.aboutIntro {
    height: 100vh;
    background-image: url("../images/Poppy-Field.jpg");
    background-position: top;
    background-size: cover;
    padding-top: 10%;
    
}

.aboutIntro h1 {
    text-align: center;
    font-size: 3em;
}

.aboutTruth {
    height: 94vh;
    background-image: url("../images/kangaroo.jpg");
    background-position: left;
    background-size: cover;
    position: relative;
    scroll-snap-align: start;
}

.aboutTruth h1 {
    color: white;
    font-size: 2em;
    text-align: center;
    position: absolute;
    top: 10vh;
}

.aboutScience {
    height: 94vh;
    background-image: url("../images//lightBulb.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #010D0D;
    position: relative;
}

.aboutScience h1 {
    color: white;
    position: absolute;
    text-align: center;
    width: 300px;
    margin-left: -150px;
    left: 50%;
    font-size: 1em;
}

.science1 {
    top: 10vh;
}

.science2 {
    bottom: 5vh;
}

.aboutQualifications {
    height: 94vh;
    text-align: center;
    background-image: url("../images/brick.jpg");
    background-position: left;
    background-size: cover;
    padding-top: 5vh;
    font-size: 1.5em;
}

.aboutQualifications ul {
    list-style: none;
}

.aboutQualifications li {
    margin: 3vh;

}

.aboutTech {
    height: 95vh;
    background-image: url("../images/tech.jpg");
    background-position: center;
    background-size: cover;
}

.aboutTech h1 {
    position: relative;
    width: 100%;
    top: 5vh;
    font-size: 2em;
    text-align: center;
}

.aboutTech ul {
    position: relative;
    top: 7vh;
    width: 100%;
}

.aboutTech li {
    width: fit-content;
    margin: 5px auto;
    list-style: none;
}
