.contact {
    height: 100vh;
    background-image: url("../images/contact.jpg");
    background-position: right;
    background-size: cover;
}

.contactCard {
    position: relative;
    top: 10vh;
    background-color: white;
    width: fit-content;
    padding: 10px;
    margin: auto;
}

.contactCard > * {
    margin: 10px 0;
}

.contactCard img {
    margin: 10px 5px;
}

.contactCard a {
    color: black;
}

.picture {
    background-image: url("../images/headshot.jpg");
    background-position: center;
    background-size: cover;
    height: 70px;
    width: 70px;
    position: absolute;
    bottom: 0;
    right: 10px;
    border-radius: 50%;
}