* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;;
}

.navbar {
    height: 5vh;
    background-color: rgb(43, 43, 49);
    padding: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    font-size: 2vh;
}

.link {
    color: white;
    text-decoration: none !important;
    font-size: 1em;
}

.link:hover {
    color: rgb(173, 173, 173);
}

.brand {
    font-size: 1.3em;
}

.brand, .navbarNav, .navbarList, .nav-li {
    display: inline;
    margin: 8px;
}