.portfolioContainer {
    height: 110vh;
    width: 100vw;
    margin-bottom: 20vh;
    background-image: url("../images/sand.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    overflow: scroll;
    padding: 5vh;
    padding-bottom: 0;
    overflow: scroll;
}

.projectTitle,
.portfolioTitle {
    font-size: 3em;
    text-align: center;
    padding: 10px;
    width: fit-content;
    margin: 0 auto;
    color: white;
    text-shadow: 0 0 5px #000, 0 0 10px #000
}
/*
.portfolioTitle {
    background: rgba(196, 183, 174, 0.9);
}

.projectTitle {
    background: rgba(255, 255, 255, 0.9);
}
*/

.projectContainer {
    margin: 0 auto;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
    padding-bottom: 10vh;
}

.freelanceContainer {
    margin: 0 auto;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}