.portfolioContainer {
    height: 110vh;
    width: 100vw;
    margin-bottom: 20vh;
    background-image: url("../images/sand.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    overflow: scroll;
    padding: 5vh;
    padding-bottom: 0;
    overflow: scroll;
}

.projectContainer {
    margin: 0 auto;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10vh;
}