.imageCard {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    min-height: 200px;
    padding: 5px;;
    cursor: pointer;
    border-style: solid;
}

.project {
    padding: 5px;
    color: black;
    background-color: rgba(255, 255, 255, 0.9);
    width: 25vw;
    height: 100%;
    min-width: 300px;
    border-bottom-right-radius: 5px;
    margin: 10px;
    display: inline-block;
}

.project:hover{
    transform: scale(1.01);
}

.linkText {
    color: black
}

.moreInfo hr {
    margin: 0 10px;
}