.Resume {
    margin: 5vh auto 0;
    max-width: 90vw;
    height: 94vh;
    padding: 0;
    background-image: url("../images/resume.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}